/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

body {
    margin: 0;
    font-family: 'Mada';
}
/* ------------------ Header & Nav Bar ------------------- */ 

#page-wrapper {
    margin: 0 0 0 0;
}

#page-wrapper #header .container{
	padding: 0px 0 0em 0;
    width: 100%;
}

#header .nav-area {
    width: 100%;
    text-align: right;
}

#header {
		position: relative;
		background: lightcoral;
		text-align: center;
	}

    #header .nav-area .flex-nav {
        display: block;
        /* border: 1px solid mediumaquamarine; */
    }

    #header .nav-area .flex-nav .top-nav {
        display: inline-block;
        position: relative;
        /* border: 1px solid brown; */
        /* right: -6em; */
        margin: 10px 20px 10px 0;
        /* padding: 0; */
    }

    #header .nav-area .flex-nav .top-nav ul {
        /* border: 1px solid floralwhite; */
        display: inline-block;
        position: relative;
        margin: 0 auto;
    }

    #header .nav-area .flex-nav .top-nav ul li {
        /* border: 1px solid white; */
        display: inline-block;
        position: relative;
        padding: 0 1.5em 0 0;
        text-decoration: none;
        color: whitesmoke;
        font-weight: 400;
        font-size: .94em;
        letter-spacing: 1.1px;
        /* text-transform: uppercase; */
        /* margin: 0 auto; */
        /* top: 0; */
    }

    .top-nav ul li a p {
        /* border: 1px solid greenyellow; */
        margin: 0 auto;
    }

    .top-nav ul li:nth-child(6) {
        padding-right: 0em !important;
    }

    .top-nav ul li a {
        text-decoration: none;
        color: whitesmoke;
    }

    /* Bottom Navigation Bar Left Side*/

    .flex-nav .bottom-nav {
        display: flex;
        /* border: 1px solid darkgreen; */
    }

    .flex-nav .bottom-nav .mn-nav {
        flex: 1;
        border-top: 1px solid whitesmoke;
    }

     .bottom-nav .left-logo {
         position: relative;
         display: inline-block;
         padding-bottom: 5px;
         /* margin: 0em; */
     }

     .bottom-nav .mn-nav .site-logo{
        position: relative;
        /* display: inline-block; */
        /* border: 1px solid grey; */
        list-style: none;
        text-align: left;
        right: 0;
        padding: 0;
        margin: 0 auto;
        top: -2px;
     }

     .bottom-nav .mn-nav .site-logo li {
         position: relative;
         display: inline-block;
         /* border: 1px solid lawngreen; */
         margin: 0 auto;
         padding: 0;
     }

     .bottom-nav .mn-nav li a.logo {
        /* border: 1px solid lavender; */
        position: relative;
        display: inline-flex;
        font-family: 'Pacifico';
        font-size: 2.5em;
        left: 1.5em;
        text-decoration: none;
        list-style: none;
        color: whitesmoke;
        padding: 0em;
        margin: 0 auto;
     }

    /* Bottom Nav Right Side */

    .bottom-nav .options {
        display: inline-block;
        position: relative;
        /* border: 1px solid yellow; */
        /* padding: 0 0 0 0; */
        /* margin: 0; */
    }
    
    .bottom-nav .options ul {
        position: relative;
        display: inline-block;
        /* border: 1px solid burlywood; */
        margin: 0px 0 0 0;
        right: 12.2em;
        top: 20px;
        /* padding: 0 0 0 0; */
    }

    .bottom-nav .options ul li {
        display: inline-block;
        position: relative;
        padding-right: 2.5em;
        /* padding-bottom: 0em; */
        /* margin-bottom: 0; */
    }

    .bottom-nav .options ul li:nth-child(4) {
        padding-right: 0;
    }

    .bottom-nav .options ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: whitesmoke;
        /* border: 1px solid olivedrab; */
        margin: 0;
        padding: 0;
        font-size: 1.01em;
        font-weight: 400;
        letter-spacing: 1px;
    }

.container {
		margin: 0 auto;
		max-width: 100%;
		width: 70em;
	}
/* -------------- MAIN -----------------  */

#main {
    padding: 4em 0;
}

#main .top-content {
    display: flex;
}

#main .about-header {
    text-align: center;
    font-size: 2em;
    font-family: 'Pacifico';
    color: rosybrown;
}

.top-content .flex {
    /* width: 50%; */
    flex: 1;
}

.top-content .image-area {
    /* border: 1px solid mediumpurple; */
    position: relative;
    display: inline-block;
    text-align: center;
}

.top-content .image-area span {
    /* border: 1px solid black; */
    display: inline-block;
    position: relative;
    text-align: center;
}

.top-content .image-area img {
    position: relative;
    display: inline-block;
    width: 450px;
    max-width: 450px;
    border: 3px solid rgb(216, 194, 171);
}

.top-content .image-area p {
    position: relative;
    display: block;
    margin-top: 4px;
    left: 0px;
    /* top: 5px; */
    /* width: 450px; */
    text-align: start;
    font-size: 14px;
    color: slategrey;
    /* border: 1px solid purple; */
}

.top-content .description-area {
    /* border: 1px solid red; */
    position: relative;
    display: inline-block;
    padding: 0 1em 1em 1em;
}

.top-content .description-area span {
    display: inline-block;
    position: relative;
    padding: 0 1em 1em 1em;
    margin-top: -16px;
    /* text-align: center; */
}

.top-content .description-area span p{
    /* border: 1px solid green; */
    position: relative;
    display: block;
    padding: 0 3em 3em 3em;
    word-spacing: 2px;
    letter-spacing: .6px;
    font-size: 1.05em;
    color: rgb(65, 48, 17);
}

.top-content .description-area span p strong a{
    text-decoration: none;
    color: rgb(163, 65, 8);
}

/* --------- Middle Section Content */

#main .middle-content {
    display: flex;
}

.middle-content .flex {
    /* width: 50%; */
    flex: 1;
}

.middle-content .image-area {
    /* border: 1px solid mediumpurple; */
    position: relative;
    display: inline-block;
    text-align: center;
}

.middle-content .image-area span {
    /* border: 1px solid black; */
    display: inline-block;
    position: relative;
    text-align: center;
}

.middle-content .image-area img {
    position: relative;
    display: inline-block;
    width: 450px;
    max-width: 450px;
    border: 3px solid rgb(216, 194, 171);
}

.middle-content .image-area p {
    position: relative;
    display: block;
    margin-top: 4px;
    left: 0px;
    /* width: 450px; */
    text-align: start;
    font-size: 14px;
    color: slategrey;
    /* border: 1px solid purple; */
}

.middle-content .description-area {
    /* border: 1px solid red; */
    position: relative;
    display: inline-block;
    padding: 0 1em 1em 1em;
}

.middle-content .description-area span {
    display: inline-block;
    position: relative;
    padding: 0 1em 1em 1em;
    margin-top: -16px;
    /* text-align: center; */
}

.middle-content .description-area span p{
    /* border: 1px solid green; */
    position: relative;
    display: block;
    padding: 0 3em 3em 3em;
    word-spacing: 2px;
    letter-spacing: .6px;
    font-size: 1.05em;
    color: rgb(65, 48, 17);
}

.middle-content .description-area span p strong a{
    text-decoration: none;
    color: rgb(163, 65, 8);
}

/* ------- Lower Section Content */

#main .bottom-content {
    display: flex;
}

.bottom-content .flex {
    /* width: 50%; */
    flex: 1;
}

.bottom-content .image-area {
    /* border: 1px solid mediumpurple; */
    position: relative;
    display: inline-block;
    text-align: center;
}

.bottom-content .image-area span {
    /* border: 1px solid black; */
    display: inline-block;
    position: relative;
    text-align: center;
}

.bottom-content .image-area img {
    position: relative;
    display: inline-block;
    width: 450px;
    max-width: 450px;
    border: 3px solid rgb(216, 194, 171);
}

.bottom-content .image-area p {
    position: relative;
    display: block;
    margin-top: 4px;
    left: 0px;
    /* width: 450px; */
    text-align: start;
    font-size: 14px;
    color: slategrey;
    /* border: 1px solid purple; */
}

.bottom-content .description-area {
    /* border: 1px solid red; */
    position: relative;
    display: inline-block;
    padding: 0 1em 1em 1em;
}

.bottom-content .description-area span {
    display: inline-block;
    position: relative;
    padding: 0 1em 1em 1em;
    margin-top: -16px;
    /* text-align: center; */
}

.bottom-content .description-area span p{
    /* border: 1px solid green; */
    position: relative;
    display: block;
    padding: 0 3em 3em 3em;
    word-spacing: 2px;
    letter-spacing: .6px;
    font-size: 1.05em;
    color: rgb(65, 48, 17);
}

.bottom-content .description-area span p strong a{
    text-decoration: none;
    color: rgb(163, 65, 8);
}

/* -------------- FOOTER ---------------- */

#footer {
    /* Try to reduce the padding-bottom from the footer top=21 bottom=28px */
    position: relative;
    /* display: inline-block; */
    background: rgb(69, 2, 17);
    padding: 0;
}

#footer .bottom {
    display: flex;
    /* border: 1px solid blue; */
}

#footer .bottom .fx-child {
    flex: 1;
}

#footer .bottom .fx-child p {
    color: #d4d4d4;
    font-size: 15px;
    /* color: wheat; */
}

#footer .bottom .fx-child .accepted-cards {
    position: relative;
    display: inline-block;
    float: right;
}

#footer .bottom .fx-child .accepted-cards li {
    position: relative;
    display: inline-block;
    right: 0;
    font-size: 44px;
    color: #d4d4d4;
}
/* Laptops */
@media only screen and (max-width: 1215px) {
    #main {
        padding: 2em 0;
    }
    #main .top-content {
        display: block;
    }
    #main .top-content .image-area {
        display: block;
        padding-bottom: 1em;
    }
    #main .top-content .description-area {
        padding: 0;
    }
    #main .top-content .description-area span {
        margin-top: 0;
        padding: 0;
    }
    #main .top-content .description-area span p:nth-child(1) {
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }
    #main .middle-content {
        /* display: flex; */
        flex-direction: column;

    }
    #main .middle-content .image-area {
        order: 1;
        display: block;
        padding-bottom: 1em;
    }
    #main .middle-content .description-area {
        order: 2;
        padding: 0;
    }
    #main .middle-content .description-area span {
        margin-top: 0;
        padding: 0;
    }
    #main .middle-content .description-area span p:nth-child(1) {
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }
    #main .bottom-content {
        display: block;
    }
    #main .bottom-content .image-area {
        display: block;
        padding-bottom: 1em;
    }
    #main .bottom-content .description-area {
        padding: 0;
    }
    #main .bottom-content .description-area span {
        margin-top: 0;
        padding: 0;
    }
    #main .bottom-content .description-area span p:nth-child(1) {
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 1024px) {
    #check, .checkBtn {
        display: none;
    }
}

/* Tablets */
@media only screen and (max-width: 1023px) {
    #header .nav-area .flex-nav .top-nav {
        display: none;
        /* width: 0; */
    }
    .top-nav ul li a {
        display: none;
        padding: 0;
        margin: 0 auto;
    }
    .top-nav ul li span {
        display: none;
    }
    #header .nav-area .bottom-nav {
        display: inline-block;
        width: 100%;
    }
    .bottom-nav .left-logo {
        float: left;
        position: relative;
        right: 20px;
        /* display: contents; */
    }
    .flex-nav .bottom-nav .mn-nav {
        border-top: none;
        flex: none !important;
    }
    .bottom-nav .master-nav {
        /* right: 20px !important; */
        position: fixed !important;
        width: 100% !important;
        height: 100vh;
        background: #d18072;
        top: 80px !important;
        right: -110% !important;
        text-align: center;
        z-index: 1;
        transition: all .5s;
    }
    .bottom-nav .master-nav li {
        display: block !important;
        line-height: 80px !important;
        margin: 50px 0px;
        padding-right: 0 !important;
    }
    .master-nav li a {
        font-size: 20px !important;
    }
    .master-nav li a:hover {
        background: none !important;
        color: rgb(59, 42, 39) !important;
    }
    .checkBtn {
        font-size: 30px;
        color: whitesmoke;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        z-index: 10;
    }
    #check {
        display: none;
    }
    #check:checked ~ .mn-nav.options ul {
        right: 0 !important;
    }
    #main {
        padding: 1em 0;
    }
    #main .top-content {
        display: block;
    }
    #main .top-content .image-area {
        display: block;
        padding-bottom: 1em;
    }
    #main .top-content .description-area {
        padding: 0;
    }
    #main .top-content .description-area span {
        margin-top: 0;
        padding: 0;
    }
    #main .top-content .description-area span p {
        padding: 0;
    }
    #main .top-content .description-area span p:nth-child(1) {
        padding-bottom: 1em;
        width: 90%;
        margin: 0 auto;
    }
    #main .top-content .description-area span p:nth-child(2) {
        padding-bottom: 3em;
        width: 90%;
        margin: 0 auto;
    }
    #main .middle-content .image-area {
        display: block;
        padding-bottom: 1em;
    }
    #main .middle-content .description-area {
        padding: 0;
    }
    #main .middle-content .description-area span {
        margin-top: 0;
        padding: 0;
    }
    #main .middle-content .description-area span p {
        padding: 0;
    }
    #main .middle-content .description-area span p:nth-child(1) {
        padding-bottom: 1em;
        width: 90%;
        margin: 0 auto;
    }
    #main .middle-content .description-area span p:nth-child(2) {
        padding-bottom: 3em;
        width: 90%;
        margin: 0 auto;
    }
    #main .bottom-content .image-area {
        display: block;
        padding-bottom: 1em;
    }
    #main .bottom-content .description-area {
        padding: 0;
    }
    #main .bottom-content .description-area span {
        margin-top: 0;
        padding: 0;
    }
    #main .bottom-content .description-area span p {
        padding: 0;
    }
    #main .bottom-content .description-area span p:nth-child(1) {
        padding-bottom: 1em;
        width: 90%;
        margin: 0 auto;
    }
    #main .bottom-content .description-area span p:nth-child(2) {
        padding-bottom: 3em;
        width: 90%;
        margin: 0 auto;
    }
    #footer {
        padding: 5px 12px;
    }
    #footer .flex-container .name p {
        margin-top: 25px;
        font-size: 15px;
    }
    #footer .flex-container .payments .accepted-cards li {
        font-size: 40px;
    }
}

@media only screen and (max-width: 900px){
    #footer {
        padding: 0px 12px;
    }
    #footer .flex-container .name p {
        margin-top: 24px;
        /* font-size: 14px; */
    }
    #footer .flex-container .payments .accepted-cards li {
        font-size: 35px;
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .bottom-nav .mn-nav .site-logo {
        top: 8px;
    }
    .bottom-nav .mn-nav li a.logo {
        font-size: 2.1rem;
    }
    #main .about-header {
        font-size: 1.7em;
    }
    #main .top-content .image-area img {
        width: 400px;
        max-width: 400px;
    }
    #main .top-content .description-area span p {
        font-size: 1em;
    }
    #main .middle-content .image-area img {
        width: 400px;
        max-width: 400px;
    }
    #main .middle-content .description-area span p {
        font-size: 1em;
    }
    #main .bottom-content .image-area img {
        width: 400px;
        max-width: 400px;
    }
    #main .bottom-content .description-area span p {
        font-size: 1em;
    }
    #footer {
        padding: 0px 12px;
    }
    #footer .flex-container .name p {
        margin-top: 24px;
        font-size: 13.8px;
    }
    #footer .flex-container .payments .accepted-cards li {
        font-size: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .checkBtn {
        font-size: 24px;
    }
    .bottom-nav .mn-nav .site-logo {
        top: 15px;
    }
    .bottom-nav .mn-nav li a.logo {
        font-size: 1.7rem;
    }
    .bottom-nav .master-nav {
        /* right: 20px !important; */
        position: fixed !important;
        width: 100% !important;
        height: 100vh;
        background: #d18072;
        top: 80px !important;
        right: -120% !important;
        text-align: center;
        z-index: 1;
        transition: all .5s;
    }
    .bottom-nav .master-nav li {
        display: block !important;
        line-height: 60px !important;
        margin: 40px 0px;
        padding-right: 0 !important;
    }
    .master-nav li a {
        font-size: 20px !important;
    }
    #main {
        padding: 1em 0;
    }
    #main .about-header {
        font-size: 1.4em;
    }
    #main .top-content {
        display: block;
    }
    #main .top-content .image-area {
        display: block;
        padding-bottom: 1em;
    }
    #main .top-content .image-area img {
        width: 300px;
        max-width: 300px;
    }
    #main .top-content .description-area {
        padding: 0;
    }
    #main .top-content .description-area span {
        margin-top: 0;
        padding: 0;
    }
    #main .top-content .description-area span p {
        padding: 0;
        font-size: .9em;
    }
    #main .top-content .description-area span p:nth-child(1) {
        padding-bottom: 1em;
        width: 80%;
        margin: 0 auto;
    }
    #main .top-content .description-area span p:nth-child(2) {
        padding-bottom: 3em;
        width: 80%;
        margin: 0 auto;
    }
    #main .middle-content .image-area {
        display: block;
        padding-bottom: 1em;
    }
    #main .middle-content .image-area img {
        width: 300px;
        max-width: 300px;
    }
    #main .middle-content .description-area {
        padding: 0;
    }
    #main .middle-content .description-area span {
        margin-top: 0;
        padding: 0;
    }
    #main .middle-content .description-area span p {
        padding: 0;
        font-size: .9em;
    }
    #main .middle-content .description-area span p:nth-child(1) {
        padding-bottom: 1em;
        width: 80%;
        margin: 0 auto;
    }
    #main .middle-content .description-area span p:nth-child(2) {
        padding-bottom: 3em;
        width: 80%;
        margin: 0 auto;
    }
    #main .bottom-content .image-area {
        display: block;
        padding-bottom: 1em;
    }
    #main .bottom-content .image-area img {
        width: 300px;
        max-width: 300px;
    }
    #main .bottom-content .description-area {
        padding: 0;
    }
    #main .bottom-content .description-area span {
        margin-top: 0;
        padding: 0;
    }
    #main .bottom-content .description-area span p {
        padding: 0;
        font-size: .9em;
    }
    #main .bottom-content .description-area span p:nth-child(1) {
        padding-bottom: 1em;
        width: 80%;
        margin: 0 auto;
    }
    #main .bottom-content .description-area span p:nth-child(2) {
        padding-bottom: 3em;
        width: 80%;
        margin: 0 auto;
    }
    #footer {
        padding: 0px 12px;
    }
    #footer .flex-container .name p {
        margin-top: 22px;
        font-size: 13px;
    }
    #footer .flex-container .payments .accepted-cards li {
        font-size: 24px;
    }
}

@media only screen and (max-width: 300px) {
    #main {
        padding: .5em 0;
    }
    #main .about-header {
        font-size: 1.3em;
    }
    #main .top-content .image-area img {
        width: 230px;
        max-width: 230px;
    }
    #main .top-content .description-area span p {
        font-size: .85em;
    }
    #main .top-content .description-area span p:nth-child(1) {
        padding-bottom: 1em;
        width: 80%;
        margin: 0 auto;
    }
    #main .top-content .description-area span p:nth-child(2) {
        padding-bottom: 3em;
        width: 80%;
        margin: 0 auto;
    }
    #main .middle-content .image-area {
        display: block;
        padding-bottom: 1em;
    }
    #main .middle-content .image-area img {
        width: 230px;
        max-width: 230px;
    }
    #main .middle-content .description-area span p {
        padding: 0;
        font-size: .85em;
    }
    #main .middle-content .description-area span p:nth-child(1) {
        padding-bottom: 1em;
        width: 80%;
        margin: 0 auto;
    }
    #main .middle-content .description-area span p:nth-child(2) {
        padding-bottom: 3em;
        width: 80%;
        margin: 0 auto;
    }
    #main .bottom-content .image-area {
        display: block;
        padding-bottom: 1em;
    }
    #main .bottom-content .image-area img {
        width: 230px;
        max-width: 230px;
    }
    #main .bottom-content .description-area {
        padding: 0;
    }
    #main .bottom-content .description-area span {
        margin-top: 0;
        padding: 0;
    }
    #main .bottom-content .description-area span p {
        padding: 0;
        font-size: .85em;
    }
    #main .bottom-content .description-area span p:nth-child(1) {
        padding-bottom: 1em;
        width: 80%;
        margin: 0 auto;
    }
    #main .bottom-content .description-area span p:nth-child(2) {
        padding-bottom: 3em;
        width: 80%;
        margin: 0 auto;
    }
    #footer {
        padding: 0px 9px;
    }
    #footer .flex-container .name p {
        margin-top: 20px;
        font-size: 10px;
    }
    #footer .flex-container .payments .accepted-cards li {
        font-size: 13px;
    }
}